.menu_items {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_image {
    width: 18vw;
    height: 35vh;
}

.content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}