.order_items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    font-size: 1vw;
    overflow: auto;
}

.order_image{
    width: 18vw;
    height: 33vh;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}