.order_items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    font-size: 1vw;
}

.order_image{
    width: 18vw;
    height: 35vh;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media only screen and (max-width: 1050px) {
    .order_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1vw;    
    }

    .order_image {
        width: 44vw;
        height: 30vh;
    }

    .content {
        width: 100%;
    }

}