.menu_preview {
    background-color:deeppink ;
    display: flex;
    flex-direction: column;
}

.preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: gold;
}