.menu_preview {
    display: flex;
    flex-direction: column;
}

.preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 500px) {
    .preview {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
}