.navigator{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: peru;
    margin-bottom: 25px;

}

.optionsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.options {
    padding: 10px 15px;
    cursor: pointer;
}

.shoppingOption {
    height: 10vh;
    margin: 10px;
    cursor: pointer;
}

.listContainer {
    display: flex;
    justify-content: space-between;
}