.navigator {
  height: 90px;
  width: 100%;
  display: flex;
  color: goldenrod;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #faf9f8;
  font-size: 1.3rem;

}

.logo-container{
  position: relative;
  right: -20px;
}
.logo {
  padding: 10px 15px;
  height: 100px;
  width: 130px;
}

.optionsContainer {
  display: flex;
  align-items: center;
}

.options {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.options:hover {
  font-weight: 700;
}

.shoppingIcon {
  height: 8vh;
  margin: 10px;
  cursor: pointer;
}

.listContainer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .navigator{
    width: 100%;
    justify-content: space-evenly;
  }

  .logo {
    padding: 10px 10px;
    height: 90px;
    width: 100px;
  }

  .optionsContainer {
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
  }

  .logo-container{
    position: relative;
    right: 0px;
  }
}