.homepage {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf9f8;
}

.cover {
    height: 100vh;
    width: 100%;
}